#myBar {
  width: 40%;
  height: 30px;
  background-color: rgb(53, 52, 52);
  text-align: center; 
  line-height: 30px; 
}

#myBar2 {
  width: 40%;
  height: 30px;
  background-color: rgb(53, 52, 52);
  text-align: center; 
  line-height: 30px; 
}