<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>jasonism huge - Accept Challenge</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='sticky.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <div class="header">
      <h1>Accept Challenge</h1>
    </div>
    <div class="navbar">
      <a class="nav-link nav-link-ltr" href="/">Home</a>
      <a class="nav-link nav-link-ltr" href="/profile">Profile</a>
      <a class="nav-link nav-link-ltr" href="/notifs">Notifications</a>
      <a class="nav-link nav-link-ltr" href="/allgames">All Games</a>
      <a class="nav-link nav-link-ltr" href="/logout">Logout</a>
    </div>
    <div class="content">
      <div id="error">
      </div>
      {% if error != None and error != False and error != "" %}
        <p>{{error}}</p>
        <br>
      {% endif %}
      <input class="login-form-input" placeholder="bet amount" type="number" name="bet" id="bet" value="{{challenge['Bet']}}" disabled><br>
      <input class="login-form-input" placeholder="challenge username" type="text" name="enemy" id="enemy" value="{{challenge['User']}}" disabled><br>
      <button onclick="rpsac('rock')">rock</button>
      <button onclick="rpsac('paper')">paper</button>
      <button onclick="rpsac('scissors')">scissors</button>
  </body>
</html>