<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>jasonism</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <div class="header">
      <h1>jasonism</h1>
    </div>
    {% if user == False %}
      <div class="navbar">
        <a class="nav-link nav-link-ltr" href="/">Home</a>
        <a class="nav-link nav-link-ltr" href="/login">Login</a>
        <a class="nav-link nav-link-ltr" href="/login">Signup</a>
        <a class="nav-link nav-link-ltr" href="/allgames">All Games</a>
      </div>
    {% else %}
      <div class="navbar">
        <a class="nav-link nav-link-ltr" href="/">Home</a>
        <a class="nav-link nav-link-ltr" href="/profile">Profile</a>
        <a class="nav-link nav-link-ltr" href="/notifs">Notifications</a>
        <a class="nav-link nav-link-ltr" href="/allgames">All Games</a>
        <a class="nav-link nav-link-ltr" href="/logout">Logout</a>
      </div>
    {% endif %}
    <div class="content">
      {% if user == False %}
        <p>Hi!</p>
      {% else %}
        <p>Hi {{user['Username']}}</p>
      {% endif %}
      <p>Jason is basically the immortal god of block of woods. Below is a picture of him:</p>
      <img src="{{url_for('static', filename='jason.jpeg')}}" alt="jason" height="200" width="400"></img>
      <p>You have a pet block of wood and you want him to be as strong and as huge as Jason. That is what you do in jasonism</p>
      <p>When you make an account, your block is made out of one block, you have 0 XP and ∆0. You can earn XP and ∆ by doing:</p>
      <ul>
        <li><a href="/mencalc">mental calculations</a></li>
        <li><a href="/trivia">trivia questions</a></li>
        <li><a href="/unscrambleword">unscramble word</a></li>
      </ul>
      <p>You can win or lose ∆ by doing:</p>
      <ul>
        <li><a href="/challengerps">challenging someone to rock paper scissors</a></li>
        <li><a href="/flipcoin">flipping coins</a></li>
        <li><a href="/rolldice">rolling die</a></li>
        <li><a href="/cupgame">cup gaming</a></li>
        <li><a href="/rps">rock paper scissoring</a></li>
      </ul>
      <p>You also have levels. The level you are in is the number of XP you have, divided by 1000, rounded to the closest whole number below, plus 1 (or you can just check your profile). The level you are on is the maximum amount of block your block is made out of.</p>
      <p>You can make your block HUGER if you meet these two requirements:</p> 
      <ul>
        <li>The level you are on is bigger than the amount of blocks in your block</li>
        <li>You have more than ∆10000</li>
      </ul>
      <p>A block in your block is the area the main block increases when you make your block HUGER once.</p>
      <p>You can also make your block prettier by <a href="/profile">spending your ∆ on things for your block</a>.</p>
    </div>
  <script src="{{url_for('static', filename='sticky.js')}}"></script>
  </body>
</html>