<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>jasonism</title>
    <script src="{{url_for('static', filename='sticky.js')}}"></script>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <div class="header">
      <h1>jasonism</h1>
    </div>
    <div class="navbar" id="navbar">
    </div>
    <div class="content">
      {% if user == False %}
        <script>
          navbaredit("no")
        </script>
        <p>Hi!</p>
      {% else %}
        <script>
          navbaredit("yes")
        </script>
        <p>Hi {{user['Username']}}</p>
      {% endif %}
      {% if text != False and text != None and text != "" %}
        <p>{{text}}</p>
      {% endif %}
      <p>Jason is basically the immortal god of block of woods. Below is a picture of him:</p>
      <img src="{{url_for('static', filename='jason.jpeg')}}" alt="jason" height="250" width="250"></img>
      <p>You have a pet block of wood and you want him to be as strong as Jason. That is what you do in jasonism</p>
      <p>When you make an account, you have 0 XP and ∆0. You can earn XP and ∆ by doing:</p>
      <ul>
        <li><a href="/mencalc">mental calculations</a></li>
        <li><a href="/trivia">trivia questions</a></li>
        <li><a href="/unscrambleword">unscramble word</a></li>
      </ul>
      <p>and more...</p>
      <p>You can win or lose ∆ by doing:</p>
      <ul>
        <li><a href="/challengerps">challenging someone to rock paper scissors</a></li>
        <li><a href="/flipcoin">flipping coins</a></li>
        <li><a href="/rolldice">rolling die</a></li>
      </ul>
      <p>and more...</p>
      <hr>
      <p>You also have levels. The level you are in is the number of XP you have, divided by 1000, rounded to the closest whole number below, plus 1 (or you can just check your profile).</p>
    </div>
  </body>
</html>