<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>jasonism - The Leaderboard</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='block.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='sticky.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <div class="header">
      <h1>The Leaderboard</h1>
    </div>
   <div class="navbar" id="navbar">
    </div>
    <div class="content">
      <script>
        {% if logged != False %}
          navbaredit("yes")
        {% else %}
          navbaredit("no")
        {% endif %}
      </script>
      <h2>Top 10 XP Players</h2>
      {% for user in xplb %}
        <ol>
          <li><p><a href="/@{{user['Username']}}">{{user['Username']}}</a>: {{user['XP']}}</p></li>
        </ol>
      {% endfor %}
      <hr>
      <h2>Top 10 Money Players</h2>
      {% for user in moneylb %}
        <ol>
          <li><p><a href="/@{{user['Username']}}">{{user['Username']}}</a>: {{user['Money']}}</p></li>
        </ol>
      {% endfor %}
    </div>
  </body>
</html>