<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>jasonism - Notifications</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='battle.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='sticky.js')}}"></script>
    <script src="{{url_for('static', filename='battle.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <div class="header">
      <h1>Notifications</h1>
    </div>
    <div class="navbar" id="navbar">
    </div>
    <div class="content">
      <script>
        navbaredit("yes")
      </script>
      {% if notifs == [] %}
        <p>You have no notifications!</p>
      {% else %}
        <a href="/clearnotifs">Clear notifications</a>
      {% endif %}
      {% for notif in notifs %}
        {% if notif['Type'] == 'Normal' %}
          {% if notif['Seen'] == False %}
            <p style="color: #FF6347">{{ notif['Notification'] }}</p>
          {% else %}
            <p style="color: #9ACD32">{{ notif['Notification'] }}</p>
          {% endif %}
        {% elif notif['Type'] == 'RPS' %}
          {% if notif['Seen'] == False %}
            <p style="color: #FF6347">{{notif['User']}} challenged you to a {{notif['Type']}} game for ∆{{notif['Bet']}}! Click <a href="/denychallenge/{{notif['_id']}}">here</a> to deny the challenge and click <a href="/acceptchallenge/{{notif['_id']}}">here</a> to accept it</p>
          {% else %}
            <p style="color: #9ACD32">{{notif['User']}} challenged you to a {{notif['Type']}} game for ∆{{notif['Bet']}}! Click <a href="/denychallenge/{{notif['_id']}}">here</a> to deny the challenge and click <a href="/acceptchallenge/{{notif['_id']}}">here</a> to accept it</p>
          {% endif %}
        {% elif notif['Type'] == 'Battle' %}
          {% if notif['Seen'] == False %}
            <p style="color: #FF6347">{{notif['User']}} challenged you to a battle for ∆{{notif['Bet']}}! Click <a href="/denychallenge/{{notif['_id']}}">here</a> to deny the challenge and click <a href="/acceptchallenge/{{notif['_id']}}">here</a> to accept it</p>
          {% else %}
            <p style="color: #9ACD32">{{notif['User']}} challenged you to a battle for ∆{{notif['Bet']}}! Click <a href="/denychallenge/{{notif['_id']}}">here</a> to deny the challenge and click <a href="/acceptchallenge/{{notif['_id']}}">here</a> to accept it</p>
          {% endif %}
        {% elif notif['Type'] == 'BattleGif' %}
          {% if notif['Seen'] == False %}
            <p style="color: #FF6347">{{notif['Message']}}</p>
          {% else %}
            <p style="color: #9ACD32">{{notif['Message']}}</p>
          {% endif %}
          <div id="myProgress">
            <div id="person1">
              <div id="myBar">100XP</div>
              <p>You</p>
            </div>
            <br>
            <div id="person2">
              <div id="myBar2">100XP</div>
              <p>Other person</p>
            </div>
            <div id="status"></div>
          </div>
          <script>
            {% if notif['Winner'] == notif['Username'] %}
              move(15)
              move2(10)
            {% else %}
              move(10)
              move2(15)
            {% endif %}
          </script>
        {% endif %}
      {% endfor %}
  </body>
</html>