<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>jasonism - Your Profile</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='block.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='sticky.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <div class="header">
      <h1>Your Profile</h1>
    </div>
    <div class="navbar">
    </div>
    <div class="content">
      <script>
        navbaredit("yes")
      </script>
      {% if error != None and error != False and error != "" %}
        <p>{{error}}</p>
        <br>
      {% endif %}
      <h2>{{user['Username']}}</h2>
      {% if user['Description'] == None %}
        <p><strong>You don't have a description!</strong></p>
      {% else %}
        <p><strong>{{user['Description']}}</strong></p>
      {% endif %}
      <p>Verified: {{user.get("Verified", False)}}
      <p>XP: {{user['XP']}}</p>
      <p>Money: {{user['Money']}}</p>
      <p>Level: {{user['Level']}}</p>
      <hr>
      <h3>Your Badges</h3>
      {% if items['Badges'] == [] %}
        <p>You don't have any badges!</p>
      {% endif %}
      {% for badge in items['Badges'] %}
        {% if badge == "quickmaths" %}
          <img alt="quickmathsbadge" src="{{url_for('static', filename='quickmathsbadge.png')}}">
        {% endif %}
      {% endfor %}
      <hr>
      <a href="/gamblingstats">Your Gambling Stats</a>
      <br>
      <a href="/xpstats">Your XP Stats</a>
      <br>
      <a href="/items">Your Items</a>
      <br>
      <a href="/buffs">Your Buffs</a>
      <br>
      <a href="/battlestats">Your Battle Stats</a>
    </div>
  </body>
</html>