<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>jasonism - Rock Paper Scissors</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='sticky.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <div class="header">
      <h1>Rock Paper Scissors</h1>
    </div>
    <div class="navbar" id="navbar">
    </div>
    <div class="content">
      <script>
        navbaredit("yes")
      </script>
      {% if error != None and error != False and error != "" %}
        <p>{{error}}</p>
        <br>
      {% endif %}
      <p>Money: {{user['Money']}}</p>
      <input class="login-form-input" placeholder="bet amount" type="number" name="bet" id="bet" required><br>
      <button onclick="rps('rock')">rock</button>
      <button onclick="rps('paper')">paper</button>
      <button onclick="rps('scissors')">scissors</button>
  </body>
</html>