<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>jasonism - Settings</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='settings.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='sticky.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <div class="header">
      <h1>jasonism</h1>
    </div>
    <div class="navbar">
    </div>
    <div class="content">
      <script>
        navbaredit("yes")
      </script>
      {% if error != None and error != False and error != "" %}
        <p>{{error}}</p>
        <br>
      {% endif %}
      <h3>Email Verification Notifications</h3>
      {% if settings['Email'] == False %}
        <label class="switch">
          <input type="checkbox" onchange="window.location.href='/changesettings/email'">
          <span class="slider round"></span>
        </label>
      {% else %}
        <label class="switch">
          <input type="checkbox" onchange="window.location.href='/changesettings/email'" checked>
          <span class="slider round"></span>
        </label>
      {% endif %}
      <h3>Passive Mode</h3>
      {% if settings['Passive'] == False %}
        <label class="switch">
          <input type="checkbox" onchange="window.location.href='/changesettings/passive'">
          <span class="slider round"></span>
        </label>
      {% else %}
        <label class="switch">
          <input type="checkbox" onchange="window.location.href='/changesettings/passive'" checked>
          <span class="slider round"></span>
        </label>
      {% endif %}
      <form method="POST" action="/changeblockname">
        <h2>Change Block Name</h2>
        <input class="login-form-input" placeholder="blockname" name="blockname" autocomplete="off" value="{{user['BlockName']}}" required><br>
        <button class="login-form-button">change block name</button>
      </form>
      <form method="POST" action="/changedesc">
        <h2>Change Description</h2>
        <input class="login-form-input" placeholder="blockname" name="desc" autocomplete="off" value="{{user['Description']}}" required><br>
        <button class="login-form-button">change description</button>
      </form>
      <form method="POST" action="/changeemail">
        <h2>Change Email</h2>
        <input class="login-form-input" placeholder="email" name="theemail" autocomplete="off" type="email" value="{{user['Email']}}" required><br>
        <button class="login-form-button">change email</button>
      </form>
    </div>
  </body>
</html>