<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>jasonism - Signup</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <div class="header">
      <h1>jasonism</h1>
    </div>
    <div class="navbar">
      <a class="nav-link nav-link-ltr" href="/">Home</a>
      <a class="nav-link nav-link-ltr" href="/login">Login</a>
      <a class="nav-link nav-link-ltr" href="/signup">Signup</a>
      <a class="nav-link nav-link-ltr" href="/allgames">All Games</a>
    </div>
    <div class="content">
      {% if error != None and error != False and error != "" %}
        <p>{{error}}</p>
        <br>
      {% endif %}
      <center>
        <div class="auth">
          <div class="login-form-body">
            <div class="login-form-heading">
            </div>
            <div class="login-form-form">
              <h2>Signup</h2>
              <form method="POST" action="/signup">
                <input class="login-form-input" placeholder="username" name="username" autocomplete="off" required><br>
                <input class="login-form-input" placeholder="password" type="password" name="password"
                autocomplete="off" required><br>
                <input class="login-form-input" placeholder="confirm password" type="password" name="passwordagain"
                autocomplete="off"  required><br><br>
                <button class="login-form-button">signup</button>
              </form>
            </div>
          </div>
        </div>
      </center>
    </div>
    <script src="{{url_for('static', filename='sticky.js')}}"></script>
  </body>
</html>