<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>jasonism - {{user['Username']}}'s Profile</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='block.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='sticky.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <div class="header">
      <h1>{{user['Username']}}'s profile</h1>
    </div>
    <div class="navbar">
    </div>
    <div class="content">
      {% if logged == False %}
        <script>
          navbaredit("no")
        </script>
      {% else %}
        <script>
          navbaredit("yes")
        </script>
      {% endif %}
      <h2>{{user['Username']}}</h2>
      {% if user['Description'] == None %}
        <p><strong>{{user['Username']}} doesn't have a description!</strong></p>
      {% else %}
        <p><strong>{{user['Description']}}</strong></p>
      {% endif %}
      <p>XP: {{user['XP']}}</p>
      <p>Money: {{user['Money']}}</p>
      <p>Level: {{user['Level']}}</p>
      <a href="/gamblingstats/@{{user['Username']}}">{{user['Username']}}'s Gambling Stats</a>
      <br>
      <a href="/xpstats/@{{user['Username']}}">{{user['Username']}}'s XP Stats</a>
      <br>
      <a href="/items/@{{user['Username']}}">{{user['Username']}}'s Items</a>
      <br>
      <a href="/battlestats/@{{user['Username']}}">{{user['Username']}}'s Battle Stats</a>
      <hr>
      <div class="container">
        <div class="grid">
          {% for land in user['Block'] %}
            {% set items = ['wood', 'hair', 'beard', 'face']%}
            <a href="/@{{user['Username']}}" class="{{items[land]}}"></a>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>