<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>jasonism - {{stats['Username']}}'s XP Stats</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='block.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='sticky.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <div class="header">
      <h1>{{stats['Username']}}'s XP Stats</h1>
    </div>
    <div class="navbar" id="navbar">
    </div>
    <div class="content">
      {% if logged == False %}
        <script>
          navbaredit("no")
        </script>
      {% else %}
        <script>
          navbaredit("yes")
        </script>
      {% endif %}
      <h2>{{stats['Username']}}</h2>
      <h3>MenCalc</h3>
      <p>Amount of times won: {{stats['MenCalc'][0]}}</p>
      <p>Amount of times lost: {{stats['MenCalc'][1]}}</p>
      <p>Amount of XP won: {{stats['MenCalc'][2]}}</p>
      {% set timesplayedmc = stats['MenCalc'][0] + stats['MenCalc'][1] %}
      <p>Amount of times played altogether: {{timesplayedmc}}</p>
      <br>
      <h3>Unscramble Word</h3>
      <p>Amount of times won: {{stats['Unscramble'][0]}}</p>
      <p>Amount of times lost: {{stats['Unscramble'][1]}}</p>
      <p>Amount of XP won: {{stats['Unscramble'][2]}}</p>
      {% set timesplayeduw = stats['Unscramble'][0] + stats['Unscramble'][1] %}
      <p>Amount of times played altogether: {{timesplayeduw}}</p>
      <br>
      <h3>Trivia</h3>
      <p>Amount of times won: {{stats['Trivia'][0]}}</p>
      <p>Amount of times lost: {{stats['Trivia'][1]}}</p>
      <p>Amount of XP won: {{stats['Trivia'][2]}}</p>
      {% set timesplayedt = stats['Trivia'][0] + stats['Trivia'][1] %}
      <p>Amount of times played altogether: {{timesplayedt}}</p>
    </div>
  </body>
</html>