<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>jasonism - {{stats['Username']}}'s Gambling Stats</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='block.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='sticky.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <div class="header">
      <h1>{{stats['Username']}}'s Gambling Stats</h1>
    </div>
    <div class="navbar">
    </div>
    <div class="content">
      {% if logged == False %}
        <script>
          navbaredit("no")
        </script>
      {% else %}
        <script>
          navbaredit("yes")
        </script>
      {% endif %}
      <h2>{{stats['Username']}}</h2>
      <p>Amount of times won: {{stats['Count'][0]}}</p>
      <p>Amount of times lost: {{stats['Count'][1]}}</p>
      {% set timesplayed = stats['Count'][0] + stats['Count'][1] %}
      <p>Amount of times played altogether: {{timesplayed}}</p>
      <p>Amount of ∆ won: {{stats['Money'][0]}}</p>
      <p>Amount of ∆ lost: {{stats['Money'][1]}}</p>
      {% set amountgained = stats['Money'][0] - stats['Money'][1] %}
      <p>Amount of ∆ gained: {{amountgained}}</p>
    </div>
  </body>
</html>